<div class="cart">
  <h3 style="justify-content: center;">Pedido - Orden</h3>
  <ul class="list-unstyled">
    <li *ngFor="let item of items" class="mb-3">
      <div class="d-flex align-items-center">
        <img [src]="item.rutaImagen" alt="{{ item.nombre }}" class="me-3" style="max-width: 100px;">
        <div class="item-details">
          <h4>{{ item.nombre }}</h4>
          <p>{{ item.precio  }}</p>
          <div class="quantity-controls">
            <button class="btn-circle" (click)="decrementQuantity(item)" severity="info">−</button>
            <span class="fw-bold text-dark text-decoration-none">{{ item.orden.cantidad != null ? item.orden.cantidad :
              0 }}</span>
            <button class="btn-circle" (click)="incrementQuantity(item)" severity="danger">+</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-summary text-center" [ngClass]="{ 'disabled': cartEmpty }">
    <p class="total">Cantidad de productos: <span>{{ cantidadTotal }}</span></p>
    <p class="total">Total: <span>{{ total  }}</span></p>
    <p-button [disabled]="cartEmpty" (click)="checkout()" (click)="checkout()">Realizar
      Compra</p-button>
  </div>
</div>
