<p-menubar [model]="items"></p-menubar>

<div id="home" class="section">
  <img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/desert-islands-resort--spa-by-anantara/experiences/detail-page/seafood-by-the-shore/desert_islands_by_anantara_seafood_by_shore_header_1920x600.jpg" alt="Portada" class="cover-image" />
</div>

<div id="about" class="section">
  <p-panel header="Quienes Somos">
    <p>
      Somos una empresa dedicada a ofrecer soluciones tecnológicas de alta calidad. Nuestro objetivo es proporcionar
      a nuestros clientes las herramientas necesarias para optimizar sus procesos y alcanzar el éxito.
    </p>
  </p-panel>
</div>

<div id="mission" class="section">
  <p-panel header="Misión">
    <p>
      Nuestra misión es innovar y liderar el mercado proporcionando productos y servicios que superen las expectativas de nuestros clientes,
      garantizando la máxima calidad y compromiso en cada proyecto.
    </p>
  </p-panel>
</div>

<div id="vision" class="section">
  <p-panel header="Visión">
    <p>
      Ser reconocidos como la empresa líder en soluciones tecnológicas, destacando por nuestra creatividad, integridad y compromiso con la excelencia,
      y contribuir significativamente al éxito de nuestros clientes.
    </p>
  </p-panel>
</div>

<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="pi pi-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram"></i></a>
  </div>
</footer>
