.container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  flex-basis: 50%;
}

.right-section {
  flex-basis: 45%;
}

.edit-button, .delete-button, .register-button, .submit-button {
  margin-right: 5px;
}

.p-field {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100px;
}
