<div class="row" style="height: 85vh; overflow: auto;">
  <div class="col-sm-9">
    <div class="row" style="height: 100vh;">
      <div *ngFor="let item of items" class="col-sm-4 mb-3">
        <p-card>
          <ng-template pTemplate="header">
            <img [src]="item.rutaImagen" alt="{{ item.nombre }}" class="item-image">
          </ng-template>
          <div class="plato-details">
            <a class="fw-bold text-dark text-decoration-none">{{ item.nombre }}</a>
            <a>{{ item.estado }}</a>
            <a class="fw-bold text-dark text-decoration-none">${{ item.precio }}</a>
            <a>{{ item.descripcion | limitTo:50 }}</a>
            <div>
              <!-- Puntaje de estrellas-->
              <p-rating [(ngModel)]="item.puntaje" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>

  <div class="col-sm-3 custom-height">
    <app-cart [itemsMenu]="items"></app-cart>
  </div>
</div>
