.plato-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.plato-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.item-image {
  /* Tamaño deseado para las imágenes */
  width: 100%;

  /* Tamaño deseado para las imágenes */
  height: 200px;

  /* Ajusta la imagen para llenar el contenedor sin deformarla */
  object-fit: cover;

}
